@font-face {
  font-family: 'CoreSansA35Light';
  src: url("./fonts/CoreSansA35Light/CoreSansA35Light.eot");
  src: url("./fonts/CoreSansA35Light/CoreSansA35Light.eot") format("embedded-opentype"), url("./fonts/CoreSansA35Light/CoreSansA35Light.woff2") format("woff2"), url("./fonts/CoreSansA35Light/CoreSansA35Light.woff") format("woff"), url("./fonts/CoreSansA35Light/CoreSansA35Light.ttf") format("truetype"), url("./fonts/CoreSansA35Light/CoreSansA35Light.svg#CoreSansA35Light") format("svg");
}

@font-face {
  font-family: 'CoreSansA65Bold';
  src: url("./fonts/CoreSansA65Bold/CoreSansA65Bold.eot");
  src: url("./fonts/CoreSansA65Bold/CoreSansA65Bold.eot") format("embedded-opentype"), url("./fonts/CoreSansA65Bold/CoreSansA65Bold.woff2") format("woff2"), url("./fonts/CoreSansA65Bold/CoreSansA65Bold.woff") format("woff"), url("./fonts/CoreSansA65Bold/CoreSansA65Bold.ttf") format("truetype"), url("./fonts/CoreSansA65Bold/CoreSansA65Bold.svg#CoreSansA65Bold") format("svg");
}

@font-face {
  font-family: 'CoreSansA45Regular';
  src: url("./fonts/CoreSansA45Regular/CoreSansA45Regular.eot");
  src: url("./fonts/CoreSansA45Regular/CoreSansA45Regular.eot") format("embedded-opentype"), url("./fonts/CoreSansA45Regular/CoreSansA45Regular.woff2") format("woff2"), url("./fonts/CoreSansA45Regular/CoreSansA45Regular.woff") format("woff"), url("./fonts/CoreSansA45Regular/CoreSansA45Regular.ttf") format("truetype"), url("./fonts/CoreSansA45Regular/CoreSansA45Regular.svg#CoreSansA45Regular") format("svg");
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url("./fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("./fonts/MyriadProRegular/MyriadProRegular.eot") format("embedded-opentype"), url("./fonts/MyriadProRegular/MyriadProRegular.woff2") format("woff2"), url("./fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("./fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype"), url("./fonts/MyriadProRegular/MyriadProRegular.svg#MyriadProRegular") format("svg");
}