/*
  Theme Name:  dental-maestro
  Description: Тема для сайта dental-maestro.com
  Author:       Web-studio Shturman
  Author URI:   https://web-shturman.com.ua
  Version: 1.0
*/

/*---------------- About section ----------------*/

.about-img {
  width: 305px;
  height: 305px;
  margin: 20px;
  border: 1px solid #B7CEC7;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 24px 73px -16px rgba(0, 0, 0, 0.4);
}

.about-img--left {
  float: left;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.about-img--right {
  float: right;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  margin-top: -140px;
}

.main-privileges {
  background-color: #34A5F4;
  padding: 30px 0;
}

.main-privileges-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-privileges-images__inner {
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.main-privileges-images__inner:hover .main-privileges-images__img {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.main-privileges-images__inner:hover .main-privileges-images__txt {
  opacity: 1;
}

.main-privileges-images__img {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 190px;
  height: 190px;
  transition: .6s ease;
  background-repeat: no-repeat;
  background-position: center;
}

.main-privileges-images__txt {
  font-family: "CoreSansA45Regular", sans-serif;
  font-size: 1.75em;
  color: #F9FAF9;
  opacity: 0;
  transition: .5s;
}

.main-privileges-images__txt::first-line {
  color: #FF9D00;
}

.main-privileges-images__txt--white::first-line {
  color: #F9FAF9;
}

.main-privileges-images__txt--bold-b {
  display: block;
  font-family: "CoreSansA65Bold", sans-serif;
  font-weight: bold;
  color: #15426C;
}

/*---------------- Partners section ----------------*/

.partners {
  text-align: center;
}

.partners img {
  margin: 10px 30px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .2s -webkit-filter ease;
}

.partners img:hover {
  -webkit-filter: none;
  filter: none;
}

.footer {
  color: #F9FAF9;
  background-color: #15426C;
}

.footer__in {
  background: url(img/bg-footer.png) no-repeat center;
  background-size: cover;
  margin: 0 15px;
  padding: 30px 50px 60px;
}

.footer__logo {
  max-width: 130px;
  text-align: center;
}

.footer__info {
  text-align: right;
}

.footer__contacts {
  text-align: center;
}

.footer__title {
  margin: 10px 0;
  font-size: 1.125em;
}

.footer__link {
  display: block;
  color: #F9FAF9;
  font-size: 1.25em;
}

.footer__link:hover {
  color: #FF9D00;
}

.footer__address {
  font-size: 1em;
  font-style: normal;
}

/*---------------- Copyright ----------------*/

.copyright {
  font-size: 0.75em;
  font-family: 'Helvetica', sans-serif;
}

.creator {
  font-size: 0.75em;
  font-family: 'Helvetica', sans-serif;
}

.creator a {
  color: #F9FAF9;
}

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 10px 0 25px;
}

.social__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 2px;
  border: 2px solid #34A5F4;
  border-radius: 50%;
  color: #34A5F4;
  font-size: 20px;
}

.social__link:hover {
  border-color: #FF9D00;
  color: #FF9D00;
}

.pagination {
  text-align: center;
  margin: 40px auto 30px;
}

.pagination h2 {
  display: none;
}

.pagination .page-numbers {
  display: inline-block;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  font-family: "CoreSansA45Regular", sans-serif;
  font-size: 1.25em;
  color: #34A5F4;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  line-height: 1;
  vertical-align: middle;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
  border-color: #34A5F4;
}

.pagination .dots:hover {
  border-color: transparent;
}

.pagination .prev,
.pagination .next {
  font-size: 0.875em;
  border: 2px solid #34A5F4;
  padding: 6px 15px;
}

.pagination .prev:hover,
.pagination .next:hover {
  color: #F9FAF9;
  background-color: #34A5F4;
}

.pagination .prev {
  margin-right: 15px;
}

.pagination .next {
  margin-left: 15px;
}

.form {
  position: relative;
  border: 3px solid #FF9D00;
  padding: 15px 60px;
}

.form h3 {
  margin-top: 0;
}

.form input:not([type="submit"]) {
  width: 100%;
  height: 40px;
  border: 1px solid #34A5F4;
  padding: 0 15px;
  color: #34A5F4;
  font-family: "CoreSansA45Regular", sans-serif;
}

.form input:not([type="submit"])::-webkit-input-placeholder {
  color: #34A5F4;
  font-style: normal;
}

.form input:not([type="submit"]):-moz-placeholder {
  color: #34A5F4;
  font-style: normal;
}

.form input:not([type="submit"])::-moz-placeholder {
  color: #34A5F4;
  font-style: normal;
}

.form input:not([type="submit"]):-ms-input-placeholder {
  color: #34A5F4;
  font-style: normal;
}

.form input:not([type="submit"]):focus {
  border-width: 2px;
}

.form__submit {
  background: none;
  border: none;
  padding: 8px 12px;
  text-transform: uppercase;
  outline: none;
}

.form__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAKlBMVEUAAAD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQD/nQAjni9ZAAAADXRSTlMAzhoS2djIvPgyKDH128sbOgAAAG1JREFUCNdFj7EJgDAQRY+skBXUOotkhIwgZBHBTksL7e2cw95h5PNOc82F9wKPsysZM8w2Rp4hV+tuhHbIEr56CdehRMcIMAKM2IVdTMLM+mz28Qwneei/J9VwnIiTJA4mDkaAEe2uUm357z1fhw0hqhbaeUYAAAAASUVORK5CYII=") no-repeat center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .about-img--left {
    float: none;
    display: block;
    margin: auto;
  }

  .about-img--right {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 50px;
  }

  .main-privileges-images__inner {
    margin-bottom: 20px;
  }

  .main-privileges-images__img {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  .main-privileges-images__txt {
    opacity: 1;
  }

  .footer__in {
    margin: 0;
    padding-bottom: 30px;
  }

  .footer__logo {
    margin: 0 auto 20px;
  }

  .footer__info {
    text-align: center;
  }

  .social {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
  }
}
.programm_events{
  align-items: flex-start;
}
.error_wrap{
  width: 40%;
  margin: auto;
  text-align: center;
  color: #34A5F4;
}
.error_404{
  font-size: 300px;
}
.button-angle-cust{
  font-size: 1em !important;
  margin: 10px 0 !important;
}

.screen-reader-response{
  display: none;
}
.wpcf7-not-valid-tip,
.wpcf7-validation-errors{
  color: red;
}
.wpcf7-mail-sent-ok{
  color: green;
}

@media (max-width: 767px) {
  .form {
    padding: 15px;
  }

  .form h3 {
    padding-right: 40px;
  }

  .form input:not([type="submit"]) {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .about-img {
    width: 250px;
    height: 250px;
  }
}