.button {
	position: relative;
	display: inline-block;
	font-family: $a45;
	transition: .2s ease;
	cursor: pointer;
}

.button-angle {
	font-size: em(26px);
	border: 2px solid $color-orange;
	border-top-color: transparent;
	border-right-color: transparent;
	color: $color-orange;
	text-transform: uppercase;
	padding: 8px 30px;
	margin-top: 35px;
	margin-bottom: 10px;

	&:hover {
		border: 2px solid $color-orange;
		background-color: $color-orange;
		font-size: em(26px);
		color: $color-blue;
		text-transform: uppercase;
		box-shadow: 0 2px 5px rgba(1, 2, 2, 0.7);

		&::before,
		&::after {
			background-image: none;
		}
	}

	&::before {
		content: '';
		position: absolute;
		height: 2px;
		top: -2px;
		left: -2px;
		right: -2px;
		background-image: linear-gradient(to right, $color-orange calc(100% - 20px), transparent 15%);
	}

	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		bottom: -2px;
		left: auto;
		right: -2px;
		background-image: linear-gradient(to top, $color-orange 60%, transparent 40%);
	}

	&--small {
		font-size: em(18px);
		padding: 6px 20px;

		&:hover {
			font-size: em(18px);
			padding: 6px 20px;
		}
	}

	&--big {
		font-size: em(26px);
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 35px;
	}

	&--no-padding  {
		padding: 0;
	}
}