.contacts {
	min-height: 340px;
	display: flex;
	flex-flow: row wrap;

	&__description {
		width: 40%;
		background-color: $color-beige-light;
		color: $color-blue;
		font-family: $a45;
		text-align: center;
		padding: 35px 25px;

		@include breakpoint(991px) {
			width: 100%;
		}

		@include breakpoint(500px) {
			padding: 25px 5px;
		}

		h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			margin-top: 0;
		}

		p {
			font-size: em(24px);
			margin: 10px 0;
		}

		a {
			color: $color-blue;
			font-family: $a45;

			&:hover {
				color: $color-orange;
			}
		}
	}

	&__place {
		width: 60%;

		@include breakpoint(991px) {
			width: 100%;
		}

		iframe {
			min-height: 340px;
		}
	}
}