.footer {
	color: $color-white;
	background-color: $color-blue;

	&__in {
		background: url(img/bg-footer.png) no-repeat center;
		background-size: cover;
		margin: 0 15px;
		padding: 30px 50px 60px;

		@include breakpoint(991px) {
			margin: 0;
			padding-bottom: 30px;
		}
	}

	&__logo {
		max-width: 130px;
		text-align: center;

		@include breakpoint(991px) {
			margin: 0 auto 20px;
		}
	}

	&__info {
		text-align: right;

		@include breakpoint(991px) {
			text-align: center;
		}
	}

	&__contacts {
		text-align: center;
	}

	&__title {
		margin: 10px 0;
		font-size: em(18px);
	}

	&__link {
		display: block;
		color: $color-white;
		font-size: em(20px);

		&:hover {
			color: $color-orange;
		}
	}

	&__address {
		font-size: em(16px);
		font-style: normal;
	}
}