$dark: #fff;
$light: #efefef;
$color: #b3e5fc;

@mixin btn($left, $top) {
	position: fixed;
	width: 30px;
	height: 24px;
	top: $top;
	left: $left;
	transition-duration: .5s;
	z-index: 100;
}

@mixin icon($height, $width) {
	transition-duration: .5s;
	position: absolute;
	height: $height;
	width: $width;
	top: 10px;
	background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
	transition-duration: .5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: $dark;
	content: "";
	top: $top;
	left: 0;
}

@mixin icon-after($height, $width, $top) {
	transition-duration: .5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: $dark;
	content: "";
	top: $top;
	left: 0;
}

@mixin icon-circle($height, $width) {
	transition-duration: .5s;
	position: absolute;
	height: $height;
	width: $width;
	top: 2px;
	border-radius: 100%;
	background: transparent;
	border: 4px solid black;
	left: -15px;
}

.menu-button{
	@include btn(10px, 10px);

	.icon-left {
		@include icon(4px, 15px);

		&:before{
			@include icon-before(4px, 15px, -10px);
		}

		&:after{
			@include icon-after(4px, 15px, 10px);
		}

		&:hover{
			cursor: pointer;
		}
	}

	.icon-right {
		@include icon(4px, 15px);
		left: 15px;

		&:before{
			@include icon-before(4px, 15px, -10px);
		}

		&:after{
			@include icon-after(4px, 15px, 10px);
		}
	}

	&.open {

		.icon-left {
			transition-duration: 0.5s;
			background: transparent;

			&:before{
				transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
			}

			&:after{
				transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
			}
		}

		.icon-right {
			transition-duration: 0.5s;
			background: transparent;  

			&:before{
				transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
			}

			&:after{
				transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
			}
		}
	}

	&:hover {
		cursor: pointer;
	}
}