.lecturer-info {
	display: flex;
	margin-top: 30px;

	@include breakpoint(850px) {
		flex-flow: row wrap;
	}

	&:nth-child(even) {

		.lecturer-info__title {
			order: 3;

			@include breakpoint(850px) {
				order: 1;
			}
		}

		.lecturer-info__photo {
			order: 2;
		}

		.lecturer-info__description {
			@include breakpoint(850px) {
				order: 3;
			}
		}
	}

	&__title {
		flex: 0 0 200px;
		display: flex;
		align-items: center;
		padding: 20px;
		color: $color-blue-light;
		font-family: $a45;
		font-size: em(20px);
		text-transform: uppercase;

		@include breakpoint(850px) {
			flex: 1 1 50%;
		}

		@include breakpoint(500px) {
			flex: auto;
		}
	}

	&__photo {
		flex: 0 0 180px;

		@include breakpoint(850px) {
			flex: 1 1 50%;
		}

		@include breakpoint(500px) {
			flex: auto;
		}
	}

	&__description {
		flex: 1 1 auto;
		background-color: $color-blue-light;
		color: $color-white;
		padding: 20px;

		h2, h3, h4, h5, h6 {
			font-weight: bold;
			margin: 0;
		}

		p {
			font-size: em(17px);
			margin: 5px 0;
		}
	}
}