.main-lecturers {
	display: flex;
	flex-flow: row wrap;
}

.lecturer {
	position: relative;
	width: 25%;
	padding: 2px;
	overflow: hidden;

	@include breakpoint(991px) {
		width: 33.33333%;
	}

	@include breakpoint(767px) {
		width: 50%;
	}

	@include breakpoint(550px) {
		width: 100%;
	}

	&:hover {

		.lecturer__in {
			bottom: 0;
			box-shadow: 0 2px 5px rgba(1, 2, 2, 0.7);
		}

		img {
			filter: none;
		}
	}

	&__in {
		position: absolute;
		left: 0;
		bottom: -100%;
		background-color: rgba($color-blue-light, .8);
		color: $color-white;
		margin: 2px;
		padding: 5px 10px;
		text-align: left;
		transition: .2s ease;

		@include breakpoint(991px) {
			bottom: 0;
		}
	}

	&__title {
		margin: 0;
		font-size: em(20px);
		text-transform: uppercase;
	}

	&__description {
		margin: 0;
		font-size: em(14px);
	}

	img {
		filter: grayscale(100%);
		transition: .2s -webkit-filter ease;

		@include breakpoint(991px) {
			filter: none;
		}
	}
}