.main-menu {
	display: inline-block;
	transition: .5s ease;

	@include breakpoint(min-width 501px) {
		display: inline-block !important;
		opacity: 1!important;
	}

	li {
		display: inline-block;
		position: relative;

		&:hover {
			.sub-menu {
				display: block;

				@include breakpoint(991px) {
					display: none;
				}
			}
		}

		a {
			display: block;
			color: $color-white;
			font-size: em(24px);
			padding: 5px 20px;

			@include breakpoint(767px) {
				font-size: em(18px);
			}

			@include breakpoint(500px) {
				font-size: em(15px);
			}

			&:hover {
				color: $color-orange;
			}
		}

		&.current-menu-item a,
		&.current-menu-parent a,
		&.current-page-ancestor a {
			color: $color-orange;
		}
	}

	@include breakpoint(500px) {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		height: auto;
		max-height: 100%;
		overflow-y: auto;
		text-align: center;
		background-color: $color-blue;
		padding: 40px 0 20px;
		opacity: 0;
		z-index: 101;

		li {
			display: block;

			a {
				padding: 8px 5px;
			}
		}
	}

	&--right {

		@include breakpoint(500px) {
			left: 50%;
		}
	}

	&.open {
		display: inline-block;
	}
}


@import 'components/_hamburger-button.scss';

.menu-button {
	display: none;
	z-index: 102;

	@include breakpoint(500px) {
		display: block;
	}
}

.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: $color-blue-lightest;
	text-align: left;
	border-top: 2px solid $color-orange;
	box-shadow: 0 2px 5px rgba(1, 2, 2, 0.7);
	z-index: 100;

	li {
		width: 100%;

		a {
			display: block;
			font-size: em(18px);
			padding: 5px 15px;
			letter-spacing: 1px;
		}

		&:first-child {
			a {
				padding-top: 10px;
			}
		}

		&:last-child {
			a {
				padding-bottom: 10px;
			}
		}
	}
}