.pagination {
	text-align: center;
	margin: 40px auto 30px;

	h2 {
		display: none;
	}

	.page-numbers {
		display: inline-block;
		padding: 4px 6px;
		text-align: center;
		text-decoration: none;
		font-family: $a45;
		font-size: em(20px);
		color: $color-blue-light;
		margin-bottom: 15px;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		line-height: 1;
		vertical-align: middle;

		&:hover,
		&.current {
			border-color: $color-blue-light;
		}
	}

	.dots {

		&:hover {
			border-color: transparent;
		}
	}

	.prev,
	.next {
		font-size: em(14px);
		border: 2px solid $color-blue-light;
		padding: 6px 15px;

		&:hover {
			color: $color-white;
			background-color: $color-blue-light;
		}
	}

	.prev {
		margin-right: 15px;
	}

	.next {
		margin-left: 15px;
	}
}