.main-privileges {
	background-color: $color-blue-light;
	padding: 30px 0;
}

.main-privileges-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	&__inner {
		width: 190px;
		height: 190px;
		cursor: pointer;

		&:hover {

			.main-privileges-images__img {
				transform: rotateY(360deg);
			}
			
			.main-privileges-images__txt {
				opacity: 1;
			}
		}

		@include breakpoint(991px) {
			margin-bottom: 20px;
		}
	}

	&__img {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 190px;
		height: 190px;
		transition: .6s ease;
		background-repeat: no-repeat;
		background-position: center;

		@include breakpoint(991px) {
			transform: rotateY(360deg);
		}
	}

	&__txt {
		font-family: $a45;
		font-size: em(28px);
		color: $color-white;
		opacity: 0;
		transition: .5s;

		@include breakpoint(991px) {
			opacity: 1;
		}

		&::first-line {
			color: $color-orange;
		}

		&--white {
			&::first-line {
				color: $color-white;
			}
		}

		&--bold-b {
			display: block;
			font-family: $a65;
			font-weight: bold;
			color: $color-blue;
		}
	}
}