.social {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0 25px;

	@include breakpoint(991px) {
		justify-content: center;
		margin-top: 25px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		text-align: center;
		margin: 0 2px;
		border: 2px solid $color-blue-light;
		border-radius: 50%;
		color: $color-blue-light;
		font-size: 20px;

		&:hover {
			border-color: $color-orange;
			color: $color-orange;
		}
	}
}
