.table-responsive {
	min-height: .01%;
	overflow-x: auto;

	@include breakpoint(767px) {
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	table {
		width: 100%!important;
		border-collapse: collapse;
		text-align: left;
		color: $color-dark;

		th, td {
			padding: 15px;
		}

		thead, tr {
			width: auto!important;
			height: auto!important;

			&:first-child {
				background-color: $color-light;
			}
		}

		td {
			width: auto!important;
			height: auto!important;
			border: 1px solid lighten($color-main, 50%);
		}
	}
}