.lecturers-slider {

	&__slide {
		display: flex;
		flex-flow: row wrap;
	}

	&__lecturer {
		width: 100%;
		max-width: 320px;
		margin: 20px 35px;

		@include breakpoint(991px) {
			width: 50%;
			margin: 10px auto;
		}

		@include breakpoint(600px) {
			width: 100%;
		}
	}
}

.lecturers-slider__prev,
.lecturers-slider__next {
	width: 25px;
	height: 50px;
}

.lecturers-slider__prev {
	left: 0;
}

.lecturers-slider__next {
	right: 0;
}