// pixels to em
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1em;
}


@mixin triangle($direction, $size: 6px, $color: #333) {
	content: '';
	display: block;
	position: absolute;
	height: 0; width: 0;
	@if ($direction == 'up'){
		border-bottom: $size solid $color;
		border-left: 1/1.1*$size solid transparent;
		border-right: 1/1.1*$size solid transparent;
	}
	@else if ($direction == 'down'){
		border-top: $size solid $color;
		border-left: 1/1.1*$size solid transparent;
		border-right: 1/1.1*$size solid transparent;
	}
	@else if ($direction == 'left'){
		border-top: 1/1.1*$size solid transparent;
		border-bottom: 1/1.1*$size solid transparent;
		border-right: $size solid $color;
	}
	@else if ($direction == 'right'){
		border-top: 1/1.1*$size solid transparent;
		border-bottom: 1/1.1*$size solid transparent;
		border-left: $size solid $color;
	}
}


/// Creates a menu icon with a set width, height, number of bars, and colors. The mixin uses the height of the icon and the weight of the bars to determine spacing.
///
/// @param {Color} $color [$black] - Color to use for the icon.
/// @param {Color} $color-hover [$dark-gray] - Color to use when the icon is hovered over.
/// @param {Number} $width - Width of the icon.
/// @param {Number} $height - Height of the icon.
/// @param {Number} $weight - Height of individual bars in the icon.
/// @param {Number} $bars - Number of bars in the icon.
@mixin hamburger(
	$color: #000,
	$color-hover: lighten(#000, 40%),
	$width: 20px,
	$height: 16px,
	$weight: 3px,
	$bars: 3
	) {
	// box-shadow CSS output
	$shadow: ();
	$hover-shadow: ();

	// Spacing between bars is calculated based on the total height of the icon and the weight of each bar
	$spacing: floor(($height - ($weight * $bars)) / ($bars - 1));

	// Icon container
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width: $width;
	height: $height;

	// Icon bars
	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: $weight;
		background: $color;
		top: 0;
		left: 0;

		@for $i from 2 through $bars {
			$offset: ($weight + $spacing) * ($i - 1);
			$shadow: append($shadow, 0 $offset 0 $color, comma);
		}

		box-shadow: $shadow;
	}

	// Hover state
	@if $color-hover {
		// Generate CSS
		@for $i from 2 through $bars {
			$offset: ($weight + $spacing) * ($i - 1);
			$hover-shadow: append($hover-shadow, 0 $offset 0 $color-hover, comma);
		}

		&:hover::after {
			background: $color-hover;
			box-shadow: $hover-shadow;
		}
	}
}


/// Tooltip (include triangle mixin)
// Using data attribute content
@mixin tooltip(
	$bg-color: #222, $direction: top, $content: attr(data-tooltip)
	) {
	position: relative;
	&::before, &::after {
		display: none;
		z-index: 98;
	}
	&:hover {
		&::after { // for text bubble
			content: $content;
			display: block;
			position: absolute;
			height: auto; // (makes total height including padding 22px)
			padding: 6px;
			font-size: 12px;
			white-space: nowrap;
			color: #fff;
			background-color: $bg-color;
			text-shadow: 1px 1px $bg-color;
		}
		@if ($direction == 'top'){
			&::before {
				@include triangle(down, 6px, $bg-color);
				top: 3px; margin-top: 0;
				left: 47%;
			}
			&::after {
				top: -28px;
				left: 47%; margin-left: -20px;
			}
		}
		@else if ($direction == 'bottom'){
			&::before {
				@include triangle(up, 6px, $bg-color);
				top: auto; margin-top: 0;
				bottom: 3px;
				left: 47%;
			}
			&::after {
				bottom: -28px;
				left: 47%; margin-left: -20px;
			}
		}
	}
}


/// Clearfix
@mixin clearfix {
	&::before, &::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}


/// Placeholder
@mixin placeholder($color: #666, $font-style: normal) {
	&::-webkit-input-placeholder {
		color: $color;
		font-style: $font-style;
	}
	&:-moz-placeholder {
		color: $color;
		font-style: $font-style;
	}
	&::-moz-placeholder {
		color: $color;
		font-style: $font-style;
	}
	&:-ms-input-placeholder {
		color: $color;
		font-style: $font-style;
	}
}


/// disable float element
@mixin float-responsive {
	float: none;
	display: block;
	margin: auto;
}


/// Horizontally centers the element inside of its first non-static parent
@mixin horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


/// Vertically centers the element inside of its first non-static parent,
@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/// Absolutely centers the element inside of its first non-static parent,
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/// Overlay
@mixin overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}



// Background animation to right/left
@mixin bg-animation($to, $color-from, $color-to) {
	@if ($to == 'right') {
		background-size: 200% 100%;
		background-image: linear-gradient(to right, $color-from 50%, $color-to 50%);

		&:hover {
			background-position: -100% 0;
		}
	}
	@else if ($to == 'left') {
		background-size: 200% 100%;
		background-image: linear-gradient(to left, $color-to 50%, $color-from 50%);

		&:hover {
			background-position: 100% 0;
		}
	}
}