@import "../libs/breakpoint-sass/stylesheets/_breakpoint";
@import 'utils/_mixins';
@import '_vars';

// breakpoint-sass
@include breakpoint-set('default feature', 'max-width');


body {
	color: $color-text;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.3;
	font-family: $a35;
	

	&.opened-modal {
		overflow: hidden;
	}
}

.container-fluid {
	max-width: 1230px;
}
.wrapper {
	padding-bottom: 30px;
}

a {
	font-family: $a35;
	transition: .2s ease;
}
img {
	max-width: 100%;
	height: auto;
}
.img-fit img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;'
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
input, textarea {
	outline: 0;
	border: 1px solid #cccccc;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus, textarea:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.hidden {
	display: none;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
select {
	appearance: none;
}
select::-ms-expand {
	display: none;
}
.padding-0 {
	padding: 0;
}
.p-margin-0 p {
	margin: 0;
}
section {
	padding-top: 30px;
}

/*---------------- Styling typography ----------------*/
@import '_typography.scss';

/*---------------- Styling images ----------------*/
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

@include breakpoint(767px) {
	img.alignright,
	img.alignleft,
	a img.alignright,
	a img.alignleft {
		display: block;
		float: none;
		margin: 1em auto;
	}
}