h1, h2, h3 {
	position: relative;
	font-family: $a45;
	font-size: em(26px);
	font-weight: normal;
	color: $color-blue;
}

h4, h5, h6 {
	font-family: $a45;
	font-weight: normal;
}

.title-bordered {
	margin-left: 25px;
	padding-bottom: 3px;
	margin-bottom: 30px;

	@include breakpoint(767px) {
		margin-left: 0;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 78px;
		height: 3px;
		background: $color-blue;
		z-index: 2;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: $color-beige;
		z-index: 1;
	}

	span {
		display: inline-block;
		max-width: 710px;
	}
}