$a35: "CoreSansA35Light", sans-serif;
$a65: "CoreSansA65Bold", sans-serif;
$a45: "CoreSansA45Regular", sans-serif;
$myriad: "MyriadProRegular", sans-serif;

$color-text: #666;
$color-blue: #15426C;
$color-blue-light: #34A5F4;
$color-blue-lightest: #3A70A2;
$color-orange: #FF9D00;
$color-white: #F9FAF9;
$color-beige: #B7CEC7;
$color-beige-light: #D7E6F2;
