@import '_main-settings';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-blue;
	text-align: center;
	padding: 0 0 10px;
	z-index: 99;

	&__in {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@import 'components/_menu.scss';

.logo {
	display: inline-block;
	margin-left: -55px;
	margin-right: -55px;
	margin-top: 15px;

	@include breakpoint(991px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.tagline {
	display: block;
	color: $color-blue-light;
	text-transform: uppercase;
	margin-top: 10px;
}

@import 'components/_buttons.scss';

@import 'components/sliders/_main-slider.scss';

@import 'components/_breadcrumbs.scss';

@import 'components/_course.scss';

/*---------------- course page ----------------*/
@import 'components/_programm.scss';

@import 'components/_lecturer.scss';

@import 'components/sliders/_lecturers-slider.scss';

@import 'components/sliders/_photo-slider.scss';

/*---------------- Contacts page ----------------*/
@import 'components/_contacts.scss';

/*---------------- Lecturers page ----------------*/
@import 'components/_lecturer-info.scss';