@import "../libs/breakpoint-sass/stylesheets/_breakpoint";
@import 'utils/_mixins';
@import '_vars';

// breakpoint-sass
@include breakpoint-set('default feature', 'max-width');

/*
  Theme Name:   
  Author:       Web-studio Shturman
  Author URI:   https://web-shturman.com.ua
*/

/*---------------- About section ----------------*/
.about-img {
	width: 305px;
	height: 305px;
	margin: 20px;
	border: 1px solid $color-beige;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0px 24px 73px -16px rgba(0,0,0, .4);

	@include breakpoint(500px) {
		width: 250px;
		height: 250px;
	}

	&--left {
		float: left;
		transform: rotate(-7deg);

		@include breakpoint(991px) {
			@include float-responsive();
		}
	}

	&--right {
		float: right;
		transform: rotate(7deg);
		margin-top: -140px;

		@include breakpoint(991px) {
			@include float-responsive();
			margin-bottom: 50px;
		}
	}
}

@import 'components/_privileges.scss';

/*---------------- Partners section ----------------*/
.partners {
	text-align: center;

	img {
		margin: 10px 30px;
		filter: grayscale(100%);
		transition: .2s -webkit-filter ease;

		&:hover {
			filter: none;
		}
	}
}

@import 'components/_footer.scss';

/*---------------- Copyright ----------------*/
.copyright {
	font-size: em(12px);
	font-family: 'Helvetica', sans-serif;
}

.creator {
	font-size: em(12px);
	font-family: 'Helvetica', sans-serif;

	a {
		color: $color-white;
	}
}

@import 'components/_social.scss';

@import 'components/_pagination.scss';

@import 'components/_form.scss';